<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.omgtu.autodetector.autodetector">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.HistoryActivity" />
        <activity android:name=".ui.DtpActivity" />
        <activity android:name=".ui.WantedActivity" />
        <activity android:name=".ui.RestrictActivity" />
        <activity android:name=".ui.DamageMapActivity" />
        <activity android:name=".ui.CaptchaActivity"></activity>
    </application>

</manifest>